<!-- game.ejs -->
<!doctype html>
<html>
    <head>
        <title>Adventures of Bobby B</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script
                src="http://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous">
        </script>
        <script src='js/gamedata.js'></script>
        <script src='js/gamelogic.js'></script>
    </head>
    <body>
        <% if (user.local.email) { %>
        <p>
            <strong>id</strong>: <%= user._id %><br>
            <strong>email</strong>: <%= user.local.email %><br>
            <strong>high score</strong>: <%= user.highscore %>
        </p>
        <% } %>

        <% if (user.facebook.token) { %>
        <p>
            <strong>id</strong>: <%= user.facebook.id %><br>
            <strong>displayName</strong>: <%= user.facebook.displayName %><br>
            <strong>high score</strong>: <%= user.highscore %><br>
        </p>
        <% } %>

        <% if (user.google.token) { %>
        <p>
            <strong>id</strong>: <%= user.google.id %><br>
            <strong>email</strong>: <%= user.google.email %><br>
            <strong>name</strong>: <%= user.google.displayName %><br>
            <strong>high score</strong>: <%= user.highscore %><br>
        </p>
        <% } %>

        <p id="stage"></p>
        <button id='north'></button>
        <button id='south'></button>
        <button id='east'></button>
        <button id='west'></button>
        <p id="drinkingGame"></p>
        <button id="drinkOne" class="drink">Drink one glass of wine.</button>
        <button id="drinkTwo" class="drink">Drink two glasses of wine.</button>
        <button id="drinkThree" class="drink">Drink three glasses of wine.</button>
        <button id="vomit" class="drink">Force yourself to vomit.</button>


    </body>
</html>